__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.DS_Store
.cursor/
.venv/
venv/
env/
.env
build/
dist/
prds/

.vite/vitest/results.json

. coverage/
node_modules/

reports/
stats/
implementation/logs/*
